# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Everything except code and shaders
*/build/*
*.lua
*.md

# Old tp02
aogl_course_2015-master/*
tp02_old/*
tp02_old_old/*
tp02 - Copie/*
videos/*
tp02 - Copie - 2/*
