
#Libraries build
tp02/lib/bullet3/build/*
tp02/lib/glfw/build/*

# Everything except code and shaders
*/build/*
*.lua
*.md
*.exe
*.idb
*.db


# Old tp
aogl_course_2015-master
tp02_old/*
tp02_old_old/*
tp02 - Copie/*
videos/*
tp02 - Copie - 2/*
*/tmp/*

# Temporaries
*/tmp/*

# Models and Textures
*/models/*
*/textures/*

# Saves
*/save/*
tp02/save/*


#visual studio gitignore : 
# User-specific files
*.suo
*.user
*.userosscache

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml


*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap
