# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Everything except code and shaders
*/build/*
*/lib/*
*/obj/*
*/bin/*
*/textures/*
*.lua
*.md
*.sdf
*.sln
*.sln
*.vcxproj.*
*.opendb
*.pdb
*.idb
*.ilk
*.user
*.filters

# Old tp02
tp02_old/*
tp02_old_old/*
tp02 - Copie/*
tp02 - Copie - 2/*
videos/*
